
/* ==================Original======================= */
/*
.bg1{
    background-color: #666666;
}

.bg2{
    background-color:#EDC264 ;
}

.bg3{
    background-color: rgb(100, 149, 237);
} */


/* ===================Sea foam====================== */
.bg1{
    background-color: rgb( 6, 66, 92);
}

.bg2{
    background-color: rgb(81, 163, 157);
}

.bg3{
    background-color: rgb(183, 105, 92);
}

.txt1{
    color:#F2F2F2 ;
}

.txt2{
    color: rgb(183, 105, 92);
}

