
/* ==================Original======================= */
/*
.bg1{
    background-color: #666666;
}

.bg2{
    background-color:#EDC264 ;
}

.bg3{
    background-color: rgb(100, 149, 237);
} */


/* ===================Blue-Green====================== */
/* .bg1{
    background-color: rgb( 6, 66, 92);
}

.bg2{
    background-color: rgb(81, 163, 157);
}

.bg3{
    background-color: #3C8FB2;
}

.txt1{
    color:#F2F2F2 ;
}

.txt2{
    color: rgb(205, 187, 121);
}

nav a:hover{
    color: rgb(205, 187, 121);
} */

/* ===================Imperial====================== */
/* .bg1{
    background-color: rgb( 6, 66, 92);
}

.bg2{
    background-color: #424C55;
}

.bg3{
    background-color: #D1CCDC;
}

.txt1{
    color:#F2F2F2 ;
}

.txt2{
    color: #E8C547;
}

nav a:hover{
    color: #E8C547;
} */

/* ===================BoldBlue====================== */
.bg1{
    background-color: #0B132B;
}

.bg2{
    background-color: #1C2541;
}

.bg3{
    background-color: #3A506B;
}

.txt1{
    color:whitesmoke ;
}

.txt2{
    color: #6FFFE9;
}

nav a:hover{
    color: #6FFFE9;
}

