html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    /* z-index: -100; */
}

nav{
    position: fixed;
    top: 6em;
    width: 25%;
    transition: margin-left 0.6s;
    
}

nav a{
    color: white;
    font-size: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-decoration: none;
    transition: padding-left 0.3s;
}

nav a:hover{
    padding-left: 0.4em;
}

nav li{
    margin-top: 1em;
    margin-bottom: 1em;
}



h2{
    width: 65%;
    font-size: 2.5em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    font-weight: 500;
}



#HideNav{
    border: none;
    width: 5em;
    height: 5em;
    z-index: 100;
    position: fixed;
    top: 2em;
    left: 3em;
    transition: background-color 0.1s;
    outline: none;
}

#NavButtonImage{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

#HideNav:hover{
    background-color: white;
}

#B{
    background-color: black;
}

#About{
    margin-top: 65%;
}

#BlueSquare{
    background-image: url(../images/BlueSquare.png);
    background-size: 90px;
    background-position: center 55%;
}

#GreySquare{
    background-image: url(../images/GreySquare.png);
    background-size: 50px;
    background-position: center 53%;
}


.animated{
    margin: auto;
    background-repeat: no-repeat;
    position: fixed; /*This keeps the elemets in a set position compared to scroll, without reference to page content*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -40;
}


.backgroundforParralax{
    height: 300%;
}

.StarDust{
    color: white;
    position: fixed;
    font-size: 1em;

}



.MainContentBox{
     
    font-size: 1.3em;
    z-index: 100;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12em;
    padding-right: 12em;
    padding-top: 0.03em;
    padding-bottom: 0.3em;
    overflow: auto;
    
    
}

.ProjectBox{
    border-style: solid;
    border-color: #666666;
    border-width: 0.2em;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    overflow: auto;
    text-align: center;
    
}

.ProjectImage{
 background-size: 30%;
 text-align: center;
 background-repeat: no-repeat;
 background-position-x: 50%;

}

.ProjectIcon{
    opacity: 0;
    transition: opacity 0.5s;
}

.ProjectIcon:hover{
    opacity: 1;
}
.navbar-hidden{
    margin-left: -40em;
    transition: margin-left 0.6s;
}

.navbar-shown{
    margin-left: 0;
    transition: margin-left 0.6s;
}

.profile{
    width: 12em;
    float: right;

}

.ContentBoxTitle{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left:6em ;
    padding-right:6em ;
    margin: 0;
    font-size: 2.5em;
}

