html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    font-family: sans-serif;
    /* z-index: -100; */
}

nav{
    position: fixed;
    top: 6em;
    width: 25%;
    transition: margin-left 0.6s;
    
}

nav a{
    background-color: rgb(100, 149, 237);
    color: white;
    font-size: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-decoration: none;
    transition: padding-left 0.3s;
}

nav a:hover{
    color: #EDC264;
    padding-left: 0.4em;
}

nav li{
    margin-top: 1em;
    margin-bottom: 1em;
}

h3{
    color:#EDC264 ;
}

h2{
    color: #EDC264;
    width: 65%;
    font-size: 2.5em;
    margin-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    font-weight: 500;
}



#HideNav{
    border: none;
    width: 5em;
    height: 5em;
    z-index: 100;
    position: fixed;
    top: 2em;
    left: 4em;
    background-color: #666666;
}

#NavButtonImage{
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

#HideNav:hover{
    background-color: white;
}

#About{
    margin-top: 50em;
}

#BlueSquare{
    background-image: url(../images/BlueSquare.png);
    background-size: 90px;
    background-position: center 55%;
}

#GreySquare{
    background-image: url(../images/GreySquare.png);
    background-size: 50px;
    background-position: center 53%;
}


.animated{
    margin: auto;
    background-repeat: no-repeat;
    position: fixed; /*This keeps the elemets in a set position compared to scroll, without reference to page content*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -40;
}



.backgroundforParralax{
    height: 300%;
}

.StarDust{
    color: white;
    position: fixed;
    font-size: 1em;

}



.MainContentBox{
     
    font-size: 1.3em;
    color: white;
    z-index: 100;
    margin-left: 4em;
    margin-right: 4em;
    
    background-color: rgba(100, 149, 237, 0.9);
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.03em;
    padding-bottom: 0.03em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 0.3em;
    border-color: rgb(128, 128, 128); 
    
}

.navbar-hidden{
    margin-left: -40em;
    transition: margin-left 0.6s;
}

.navbar-shown{
    margin-left: 0;
    transition: margin-left 0.6s;
}


